{
    "data_path": "d:\\tmp\\brickmover",
    "exchanges": {
        "btcchina": {
            "access_key": "",
            "secret_key": "" ,
            "trade_fee": 0.0
        },

        "okcoin": {
            "access_key": "",
            "secret_key": "",
            "trade_fee": 0.0
        }
    },

    "qty_per_order": 0.01,
    "profit_rate_threshold": 0.02,
    "trade_interval": 45
}
